{% extends "base.html" %}
{% block title%}註冊帳號
{%endblock title%}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <h1>註冊您的帳號!</h1>
    </div>
    <div class="row">
        <div class="col bg-light border rounded border-light"></div>
        <div class="col bg-light border rounded border-light">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                {{form.username.label}} 
                {{form.username(class_="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                {{ form.password.label }} 
                {{ form.password(class_="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                {{ form.pass_confirm.label }} 
                {{ form.pass_confirm(class_="form-control form-control-lg") }}
                </div>
                {{form.submit(class_="btn btn-primary btn-lg")}}
            </form>
        </div>
        <div class="col bg-light border rounded border-light"></div>
    </div>
</div>

{% endblock content%}