{% extends "base.html" %}
{% block title%}歡迎
{%endblock title%}
{% block content%}
<div class="container">
    <div class="row justify-content-center">
        <p><h3>{{current_user.username}}，歡迎回來</h3></p>
        
    </div>
    <div class="row bg-info justify-content-center">
        <div class="col-10 bg-light border rounded border-dark">
            <p><h4>Choose your style:</h4></p>
            <form method="POST" action={{url_for('step2')}} enctype='multipart/form-data'>
                <p>
                
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1" name="optradio">
                        <option selected value="{{current_user.image['name'][op]}}">Current ({{current_user.image['name'][op]}})</option>
                        {%for name in current_user.image['name']%}
                            <option value="{{name}}">{{name}}</option>
                        {%endfor%}
                        
                    </select>
                </div>
                    
            </p>
                {%if op!=None%}
                <p>
                <div class="form-check">
                    <label class="form-check-label" >
                        <input type="radio" class="form-check-input" name="a" value="delete">delete
                        
                    </label>
                </div>
                {%endif%}
            </p>
                <p>
                <button type='submit'>Submit</button>
            </p>
            </form>
        </div>
        <div class="col-2 bg-light border rounded border-dark">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Upload your style
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload your style!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action={{url_for('step1')}} enctype='multipart/form-data'>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col bg-light border rounded border-light">
                                    <p>
                                        Upload your image file:
                                        <input id="file" type="file" name="file" multiple class="file-loading" required>
                                    </p>
                                    <p>
                                        Enter your style name:
                                        <input type="text" name="style_name" required>
                                    </p>
                                    <button type="submit" >Save changes</button>
                                </div>
                                <div class="col bg-light border rounded border-light">
                                    <p>Preview:</p>
                                    <img id="preview" src="" alt="demo" style="display: none;width: 500px;">
                                </div>
                            </div>  
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <!-- <button type="submit" class="btn btn-primary">Save changes</button>-->
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-light justify-content-center box box2" style="height: 500px">
        <h5>Preview:</h5>
        {%if img%}
            <img src="{{img}}">
        {%endif%}
    </div>
    <div class="row justify-content-end">
        <a href="{{url_for('step3')}}">
            <button class="btn border-dark button-col" style="color:rgb(255, 255, 255)">Next>></button>
        </a>
    </div>
</div>
<script>
    var file = document.getElementById("file")
    var img = document.getElementById("preview")
    file.onchange = (evt) => {
        // 獲取其中的第一個檔案
        if (file.files.length > 0) {
            var reader = new FileReader()
            // reader處理的方式是非同步的，所以要監聽onload事件
            reader.onload = () => {
                img.style.display = "block"
                img.src = reader.result
            }
            // 讀取檔案內容
            // 其中的result欄位就是需要的base64編碼的內容
            reader.readAsDataURL(file.files[0])

        } else {
            img.style.display = "none"
        }
    }
</script>
{% endblock content%}
