:root{
    --footer-height: 50px;
}
.fas{
    font-size: 2em;
}
body{
    background-image: url(background.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.15rem;
}
h1{
    font-weight: bold;
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
.content{
    min-height: 100%;
    padding-bottom: 50px;
}
.bg-navbar{
    background: #855138;
}
.text-navbar{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer{
    margin-top: auto;
    height: 100%;
    padding: 20px 10px 30px 10px;
    background: rgba(244, 233, 220, 0.8);
    text-align: center;
    font-size: small;
}
.overlay{
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    cursor: wait;
    display: none;
}
.spinner{
    position: relative;
    top: 25%;
    left: 45%;
    z-index: 101;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s infinite;
}
@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.spinner-text{
    position: relative;
    top: 30%;
    left: 45%;
    z-index: 101;
    font-weight: bold;
    color: white;
}

.button-col{
    background: rgb(2, 170, 10);
}
.modal-dialog{
    max-width: 1200px;
}

.box img {
    padding: 0.5cm;
    width: 100%;
    height: 90%;
    max-height: 100%;
    object-fit: contain;
}
