.fas{font-size: 2em;}
body{
    background-image: url(background.png);
    background-size: cover;
}
.nav-col{
    background: rgb(158, 124, 10);
}
.button-col{
    background: rgb(2, 170, 10);
}
.modal-dialog{
    max-width: 1200px;
}

.box img {
    padding: 0.5cm;
    width: 100%;
    height: 90%;
    max-height: 100%;
}
.box2 img {
    object-fit: contain;
}
